{% extends 'base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('about') }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('about') }}
{% endblock %}


{% block title %}Hello AboutPageController!{% endblock %}
{% block body %}
<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>
    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ 'F:/Softwares/wamp64/www/LAG/src/Controller/AboutPageController.php'|file_link(0) }}">src/Controller/AboutPageController.php</a></code></li>
        <li>Your template at <code><a href="{{ 'F:/Softwares/wamp64/www/LAG/templates/about_page/index.html.twig'|file_link(0) }}">templates/about_page/index.html.twig</a></code></li>
    </ul>
</div>
{% endblock %}
