{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}

    {% block stylesheets %}
        {{ parent() }}
        {{ encore_entry_link_tags('gamme_styles') }}
    {% endblock %}

    {% block javascripts %}
        {{ parent() }}
        {{ encore_entry_script_tags('gamme_styles') }}
    {% endblock %}

    <div class="example-wrapper">

        <h1>Prix maximum de rentabilité</h1>

        <p>
            Prix d'achat des ficelles :
            <input class="form-control w-75" type="number" name="ficelles" disabled value="{{prixFicelles}}">
            Prix d'achat des rubans :
            <input class="form-control w-75" type="number" name="rubans" disabled value="{{prixRubans}}">
            Prix d'achat des étiquettes :
            <input class="form-control w-75" type="number" name="etiquettes" disabled value="{{prixEtiquettes}}">
        </p>

        {% for gamme in gammes %}
            <h2>Gamme "{{gamme.nom}}"</h1>
                <table class="table table-hover">
                    <thead class="thead-dark">
                        <tr>
                        <th>Nom du produit</th>
                        <th>Prix d'achat maximum des {{nomProduitManquantGamme[gamme.nom]}}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for produit in produits[gamme.nom] %}
                    <tr>
                        <td>{{produit.produit.nom}}</td>
                        <td>{{produit.prix | number_format(2, '.', ' ')}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endfor %}
    </div>
{% endblock %}
